.admin{
    .admin-orders{
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .active-order{
        width: 200px;
        margin: 15px;
        min-height: 200px;
        border: 1px solid $color-orange;
        border-radius: 5px;
        h3{
            font-size: 18px;
            line-height: 1.3;
        }
        li{
            font-size: 16px;

        }
    }
    aside{
        float: left;
        width: 20%;
        height: 100vh;
        box-sizing: border-box;
        border-right: 1px solid $color-orange;
        a{
            background: white;
            border: 1px solid $color-orange;
            color: #000;
            padding: 20px 0;
            display: block;
        }
        .active{
            background: $color-orange;
            color: #000;
        }
    }

.admin-menu, .admin-orders {
    float: right;
    width: 80%;
    form {

    }
    input, button {
        display: block;
        font-size: 18px;
        margin: auto;
        width: 30%;
        margin-top: 10px;
        box-sizing: border-box;
    }
    button {
        border: 1px $color-orange;
    }
    input::placeholder {
        font-weight: 300;
    }
}
.admin-menu{
    ul{
        display: flex;
        justify-content: space-around;
        background: lighten($color-red, 30%);
    }
    li{
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
        transition: 0.2s;
        padding: 15px 0;
        flex: 1;
    }
}
.active-cat{
    background: $color-red;
    color: #ffffff;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    width: 20%;
    margin: 20px;
    cursor: pointer;
    img{
        width: 100%;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
}
h5{
    color: $color-red;
}
}