.checkout{
    border:1px solid black;
    width:35%;
    height:70vh;
    margin:60px auto;
    position:relative;
    input{
        display:block;
        margin:30px auto;
        width:50%;
        height:35px;
    }
    input::placeholder {
        font-style:italic;
        padding-left:10px;
    }
    button{
        width:50%;
        background:#cf251c;
        color:white;
        border:2px solid darkred;
        height:35px;
        margin-bottom: 25px;
    }
    .back{
        width:10%;
        border:1px solid black;
        margin-left:2px;
        margin-top:2px;
        cursor:pointer;
        user-select: none;
        color:white;
        background:gray;
        font-style:italic;
    }
    .orders-checkout{
        width:50%;
        margin:auto;
        button{
            background:#cf251c;
            color:white;
            width:8%;
            padding:0 5px;
            height:20px;
        }
        .clean-cart{
            width:120px;
            margin-top:15px;
        }
        ul{
            text-align:left;
        }
    }
}