.shop{
button{
    box-shadow:inset 0px 0px 14px 3px $color-red;
    background-color: $color-orange;
    border-radius:10px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color: whitesmoke;
    font-family:Arial;
    font-size:13px;
    font-weight:700;
    padding:11px 40px;
    text-decoration:none;
    text-shadow:9px 1px 15px $color-red;
    float: left;
    width: 15%;
    &:active {
        position:relative;
        top:2px;
    }
}
}